#!/usr/bin/env bash

export DOMAIN_FILTER="k8s.local"
export RFC2136_HOST="172.31.0.51"
export RFC2136_PORT="53"
export RFC2136_ZONE="k8s.local"
export RFC2136_TSIG_SECRET="A0DlkzhsT32fy5rHnYmWLF8T90c52+g3Uh+ABYGgLGE="
